In [55]:
import numpy as np;
import pandas as pd;
import math

In [56]:
df = pd.read_csv('knn.csv')
df

   x  y     class
0  2  4  negative
1  4  2  negative
2  4  4  positive
3  4  6  negative
4  6  2  positive
5  6  4  negative

In [57]:
mapping = {'negative' : 0, 'positive': 1};
newDf = df.replace({'negative': 0, 'positive': 1})
newDf

   x  y  class
0  2  4      0
1  4  2      0
2  4  4      1
3  4  6      0
4  6  2      1
5  6  4      0

In [58]:
class KNN:
    def __init__(self):
        self.k = 3;
    
    def fit(self, x, y, groups):
        self.x = x;
        self.y = y;
        self.groups = groups;
    
    def predict(self, x, y):
        distances = [];
        i = 0;
        for xi, yi in zip(self.x, self.y):
            euclideanDistance = math.sqrt((x-xi)**2 + (y-yi)**2);
            distances.append((euclideanDistance, self.groups[i]));
            i+=1;
        selectedDistance = sorted(distances)[:self.k];
        freq1 = 0; freq2 =0;
        # print('distances : ',distances)
        # print('sorted Distances: ', selectedDistance);
        for distance in selectedDistance:
            if(distance[1] == 'negative'):
                freq1 +=1;
            else:
                freq2 +=1;
        if freq1 > freq2:
            return 'negative';
        else:
            return 'positive';
        
    def weightedPredict(self, x, y):
        distances = [];
        i = 0;
        for xi, yi in zip(self.x, self.y):
            euclideanDistance = math.sqrt((x-xi)**2 + (y-yi)**2);
            distances.append((euclideanDistance, self.groups[i]));
            i += 1;
        selectedDistance = sorted(distances)[:self.k];
        freq1 = 0; freq2 =0;
        for distance in selectedDistance:
            if(distance[1] == 'negative'):
                freq1 += ( 1 / distance[0] ) ;
            else:
                freq2 += ( 1 / distance[0]);
        if freq1 > freq2:
            return 'negative';
        else:
            return 'positive';

In [59]:
knn = KNN();
knn.fit( df['x'] , df['y'] , df['class']);
print(knn.x, knn.y, knn.groups)

0    2
1    4
2    4
3    4
4    6
5    6
Name: x, dtype: int64 0    4
1    2
2    4
3    6
4    2
5    4
Name: y, dtype: int64 0    negative
1    negative
2    positive
3    negative
4    positive
5    negative
Name: class, dtype: object

In [60]:
predictedClass = knn.predict(6, 6)
print('Point (6, 6) belongs to class according to normal prediction : ', predictedClass)

Point (6, 6) belongs to class according to normal prediction :  negative

In [61]:
predictedClass = knn.weightedPredict(6, 6)
print('Point (6, 6) belongs to class  according to wighted Prediction : ', predictedClass)

Point (6, 6) belongs to class  according to wighted Prediction :  negative